build/*
Debug/*
x64/*
assets/*
shaders/*

thirdparty/freetype/*
thirdparty/glad/*
thirdparty/glfw-3.3.8/*
thirdparty/glm_lib/*
thirdparty/stb_image/*

!thirdparty/CMakeLists.txt
!thirdparty/glad/CMakeLists.txt

*.vcxproj
*.vcxproj.*

// Work in progress
Attributions.md
